@import "tailwindcss";

@theme {
  --color-primary: #1e1b4b;
  --color-accent: #8b5cf6;
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
